<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="onClick( $event )">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header color="dark">
      <ion-card-subtitle>Titulo</ion-card-subtitle>
      <ion-card-title>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam incidunt tempore temporibus ex ipsum, atque eos natus rem minus quaerat architecto modi officiis. Temporibus, deserunt! Eaque esse nobis magni laboriosam?</ion-card-title>
    </ion-card-header> 
  </ion-card>

</ion-content>
